* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}


.auth-options {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.change-password-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-direction: column;

  #change-password-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-direction: column;
  }
}


.forgot-password-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  #forgot-password-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

#user-activated-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;;
  font-family: 'Roboto';
  text-align: center;
  height: 100vh;
}

.admin-login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  #admin-login-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}


.grid-item {
  padding: 70px;
}


.blog-title {
  color: black;
  text-decoration: none;
}

.blog-time-text {
  font-size: 14px;
}

.post-text {
  font-family: 'Roboto';
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 16px;
}

.post-title {
  font-family: 'Roboto';
  font-size: 1.5rem;
  line-height: 1.334;
  margin-bottom: 0.35em;
}

.title-link {
  text-decoration: none;
  color: black;
}

.post-time-author {
  font-family: 'Roboto';
  font-size: 0.75rem;
  line-height: 1.66;
  letter-spacing: 0.03333em;
  margin-bottom: 16px;
}

.post-div{
  padding: 24px 0;
}

.author-link {
  text-decoration: none;
  color: #1976D2;
}

.header-li {
  padding: 10px;
}

.edit{
  color: black;
}

.bin-button {
  background-color: white;
  border-style: none;
}

.login-page, .register-page {
  font-family: 'Roboto';
}

#login-form button, #register-form button {
  margin: 20px;
}

#register-btn, #login-btn {
  font-weight: 600;
}

.register-bottom-ul {
  list-style: none;
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.register-bottom-ul > li {
  color: grey;
  text-decoration: none;
  font-size: 10px;
}

.admin-link, .forgot-link {
  color: grey;
  text-decoration: none;
  font-size: 16px;
}

.register-page  {
  height: 100vh;
  text-align: center;
  margin-top: 100px;
}
.login-page {
  height: 100vh;
  text-align: center;
  margin-top: 170px;
}


#login-form, #register-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

#my-profile {
  height: 100vh;
}

.my-profile-ul {
  list-style: none;
  font-family: 'Roboto';
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  padding-top: 100px;
}

.my-profile-ul > li {
  padding: 20px;
}


#main-container {
  height: 150vh;
}

#edit-profile-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#edit-profile-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 250px;
}

.message {
  padding: 20px;
}

.create-post-page {
  text-align: center;
  height: 80vh;
  padding-top: 70px;
}

#create-post-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}